<!-- Mission statement -->
<!-- <div class="mission">
  <div class="inner">
    <h3>
      We make <span>beautiful, quality, responsive</span> Drupal & web templates! 
      <small><a href="services.html">Find out more</a></small>
    </h3>
  </div>
</div> -->
<!-- Services -->
<div class="block services margin-top-large">
  <h2 class="block-title">
    <span>Our Services</span> 
    <small><a href="services.html">View all</a></small>
  </h2>
  <ul class="thumbnails row">
    <li class="col-sm-3">
      <h3 class="title">
        <a href="services.html"><i class="glyphicon glyphicon-wrench icon-small icon-inverse-80 _icon-circle"></i> Web</a>
      </h3>
      <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
    </li>
    <li class="col-sm-3">
      <h3 class="title">
        <a href="services.html"><i class="glyphicon glyphicon-search icon-small icon-inverse-80 _icon-circle"></i> SEO</a>
      </h3>
      <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
    </li>
    <li class="col-sm-3">
      <h3 class="title">
        <a href="services.html"><i class="glyphicon glyphicon-pencil icon-small icon-inverse-80 _icon-circle"></i> Design</a>
      </h3>
      <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
    </li>
    <li class="col-sm-3">
      <h3 class="title">
        <a href="services.html"><i class="glyphicon glyphicon-shopping-cart icon-small icon-inverse-80 _icon-circle"></i> eCommerce</a>
      </h3>
      <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
    </li>
  </ul>
</div>
<!-- portfolio -->
<!-- Recommended screenshot size: 400px x 300px -->
<div class="block portfolio margin-top-large">
  <h2 class="block-title">
    <span>Our Work</span> 
    <small><a href="portfolio.html">View all</a></small>
  </h2>
  <ul class="thumbnails row projects">
    <li class="col-md-4 ">
      <div class="">
        <div class="project">
          <a class="lnk-polaroid" href="portfolio-project.html">
            <img src="img/portfolio/enkel-home-blue.png" alt="Blue Theme" class="img-polaroid img-responsive" />
          </a>
          <h3 class="title">
            <a href="portfolio-project.html">Blue Theme</a>
            <small class="pull-right"></small>
          </h3>
          <p class="muted">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4 ">
      <div class="">
        <div class="project">
          <a class="lnk-polaroid" href="portfolio-project.html">
            <img src="img/portfolio/enkel-home-colours.png" alt="Colour Variations" class="img-polaroid img-responsive" />
          </a>
          <h3 class="title">
            <a href="portfolio-project.html">Colour Variations</a>
            <small class="pull-right"></small>
          </h3>
          <p class="muted">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna.</p>
        </div>
      </div>
    </li>
    <li class="col-md-4 ">
      <div class="">
        <div class="project">
          <a class="lnk-polaroid" href="portfolio-project.html">
            <img src="img/portfolio/enkel-services-green.png" alt="Services Green" class="img-polaroid img-responsive" />
          </a>
          <h3 class="title">
            <a href="portfolio-project.html">Services Green</a>
            <small class="pull-right"></small>
          </h3>
          <p class="muted">Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna.</p>
        </div>
      </div>
    </li>
  </ul>
</div>