<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Team member -->
      <div class="row team-member">
        <div class="col-sm-3">
          <img src="img/team/jimi.jpg" class="img-polaroid" alt="Jimi's Photo" />
        </div>
        <div class="col-sm-9">
          <h3>
            Jimi Bloggs
          </h3>
          <h5>
            Founder & developer
          </h5>
          <p>Dapibus ut aliquam massa porttitor mauris tortor mauris penatibus placerat, augue vel amet ac eu mid, tincidunt tristique phasellus magna a in lorem turpis. Elementum integer! Integer mattis integer porta, et amet? Non, amet nascetur odio odio nunc eros dolor, in ut, ac auctor auctor? Porta dis aenean, arcu, pulvinar turpis nec nec tincidunt ac ultrices, augue enim turpis sagittis facilisis massa, diam arcu adipiscing turpis dapibus etiam vel velit nec duis. Odio nec ac dolor arcu vut rhoncus vel facilisis enim sit placerat, dictumst magna ac rhoncus duis platea? Facilisis dictumst sit, porta risus et. Ac cras ac sed turpis tincidunt, magna vut! Elementum tempor. Lundium augue pellentesque dignissim et penatibus ac non lacus elementum tortor odio rhoncus odio.</p>
          <div class="social-media bordered-top-medium">
            <a href="#" class="_tooltip" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="_tooltip" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="_tooltip" data-placement="top" data-original-title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="_tooltip" data-placement="top" data-original-title="Google +"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
      <!-- The team -->
      <div class="block margin-top-large">
        <h3 class="block-title" id="team">
          <span>Meet The Team</span>
        </h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6 active">
                  <a href="team-member.html">
                    <img src="img/team/jimi.jpg" class="img-polaroid" alt="Jimi" />
                  </a>
                  <h4>
                    Jimi
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/adele.jpg" class="img-polaroid" alt="Adele" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Founder & designer" data-original-title="Adele Bloggs">Adele</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/bono.jpg" class="img-polaroid" alt="Bono" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="The Tech Guy & all round good guy!" data-original-title="Bono Bloggs">Bono</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/deniro.jpg" class="img-polaroid" alt="Robert" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Junior designer" data-original-title="Robert Bloggs">Robert</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/jobs.jpg" class="img-polaroid" alt="Steve" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Sales Manager" data-original-title="Steve Bloggs">Steve</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/jolie.jpg" class="img-polaroid" alt="Angelina" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Marketing Expert" data-original-title="Angelina Bloggs">Angelina</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/obama.jpg" class="img-polaroid" alt="Obama" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Project Manager" data-original-title="Obama Bloggs">Obama</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/women1.jpg" class="img-polaroid" alt="Erin" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Project Manager" data-original-title="Erin Bloggs">Erin</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center">
          <small>Vector images by <a href="http://www.vectorportal.com/">Vectorportal</a></small>
        </div>
      </div>
    </div>

    <div ui-view="sidebar" class="col-md-4 sidebar sidebar-right"></div>
	</div>
</div>

<div id="content-below" class="wrapper">
  <div class="container">
    <div class="clients block">
      <h3 class="block-title">
        <span>Clients</span>
      </h3>
      <!--Recommended image sizing: 170px & 70px-->
      <ul class="thumbnails list-unstyled row">
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="HTML 5" title="HTML 5">
            <img src="img/clients/html5.png" class="img-rounded" alt="HTML 5 logo" />
          </a>
        </li>
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="CSS 3" title="CSS 3">
            <img src="img/clients/css3.png" class="img-rounded" alt="CSS 3 logo" />
          </a>
        </li>
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="Git Hub" title="Git Hub">
            <img src="img/clients/github.png" class="img-rounded" alt="Git Hub logo" />
          </a>
        </li>
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="Amazon" title="Amazon">
            <img src="img/clients/amazon.png" class="img-rounded" alt="Amazon logo" />
          </a>
        </li>
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="Android" title="Android">
            <img src="img/clients/android.png" class="img-rounded" alt="Android logo" />
          </a>
        </li>
        <li class="col-sm-2">
          <a href="http://themelize.me/" class="_tooltip" data-placement="top" data-original-title="BBC" title="BBC">
            <img src="img/clients/bbc.png" class="img-rounded" alt="BBC logo" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>