<div class="container">
  <div class="block services">
    <ul class="thumbnails row">
      <li class="col-md-3">
        <h3 class="title">
          <i class="glyphicon glyphicon-wrench icon-small icon-inverse-80 _icon-circle"></i> Web
        </h3>
        <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
      </li>
      <li class="col-md-3">
        <h3 class="title">
          <i class="glyphicon glyphicon-search icon-small icon-inverse-80 _icon-circle"></i> SEO
        </h3>
        <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
      </li>
      <li class="col-md-3">
        <h3 class="title">
          <i class="glyphicon glyphicon-pencil icon-small icon-inverse-80 _icon-circle"></i> Design
        </h3>
        <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
      </li>
      <li class="col-md-3">
        <h3 class="title">
          <i class="glyphicon glyphicon-shopping-cart icon-small icon-inverse-80 _icon-circle"></i> eCommerce
        </h3>
        <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
      </li>
    </ul>
    <div class="secondary block margin-top-large">
      <div class="row">
        <div class="col-sm-4">
          <h3 class="block-title sub-title">
            Development
          </h3>
          <ul class="list-unstyled">
            <li><i class="glyphicon glyphicon-ok text-info"></i> Website Auditing</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Website Maintenance</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> eCommerce</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> SEO Optimisation</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Open Source Development</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> iOS & Android Development</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Onsite Technical Support</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Emergency Technical Support</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Coffee Making (just kidding)</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3 class="block-title sub-title">
            Design
          </h3>
          <ul class="list-unstyled">
            <li><i class="glyphicon glyphicon-ok text-info"></i> Mobile Design</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Print Design</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Online Publishing Design</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Branding</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Installations</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Social Media Design</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Staff Training</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> One to One Training</li>
            <li><i class="glyphicon glyphicon-ok text-info"></i> Open Training Days</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h3 class="block-title sub-title">
            Our Skills Set
          </h3>
          Marketing: 
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" style="width: 90%;"></div>
          </div>
          Web development: 
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" style="width: 98%;"></div>
          </div>
          Graphic design: 
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info"style="width: 93%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>