<div class="inner">
  <div class="block">
    <h3 class="block-title sub-title">
      <span>About Menu</span>
    </h3>
    <ul class="nav nav-list secondary-nav">
      <li>
        <a href="#began"><i class="fa fa-chevron-right"></i> How It All Began</a>
      </li>
      <li>
        <a href="#team"><i class="fa fa-chevron-right"></i> Meet The Team</a>
      </li>
      <li>
        <a href="#testimonials"><i class="fa fa-chevron-right"></i> Testimonials</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-chevron-right"></i> Another menu item</a>
      </li>
    </ul>
  </div>
  <div class="block">
    <h3 class="block-title sub-title">
      <span>Work for us!</span> <span class="label label-warning pull-right">We're hiring!</span>
    </h3>
    <!--accordion-->
    <div class="panel-group panel-primary" id="accordion2">
      <div class="panel panel-default">
        <div class="panel-heading"> <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"> Senior developer (onsite) </a> </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body"> Facilisis sit magnis egestas nec auctor tincidunt natoque. Purus, dignissim lectus aliquam vel sit. Nascetur ac lectus nunc placerat ut. Quis amet placerat amet in porttitor nunc platea aliquam lundium massa magnis, ac, purus etiam vel. </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Junior developer (onsite) </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body"> Aliquam aliquam, scelerisque augue? Integer eu? Mus? Est hac, magna et et parturient turpis dignissim! In placerat lundium, vel mus ac ac tincidunt enim natoque, urna non, integer lorem a ultricies. Aliquam montes tristique phasellus in pellentesque sociis sed. </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Contract developer (onsite & remote) </a> </div>
        <div id="collapseThree" class="panel-collapse collapse ">
          <div class="panel-body"> Pulvinar, enim ac odio nunc lacus vut sociis odio risus enim, sit magnis, cursus, in cras elementum? Nec porta, odio urna, lundium a, tincidunt porttitor amet in nisi a nec a dis scelerisque placerat pulvinar! </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block mdrs">
    <a href="#" class="btn btn-block btn-info"><i class="fa fa-download"></i> Download Our Press Kit</a>
    <a href="contact.html" class="btn btn-block btn-success"><i class="fa fa-envelope-o"></i> Get In Touch</a>
  </div>
</div>