<section class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="img/slides/slide1.png" alt="Full responsive slide image" class="animated fadeInDownBig" />
        </div>
        <div class="col-sm-6 caption animated fadeInUpBig">
            <h2>
                Enkel Bootstrap Theme
            </h2>
            <h4>
                By <a href="http://themelize.me/">Themelize.me</a>
            </h4>
            <p>Perfect starter theme for your company or portfolio!</p>
            <a href="https://wrapbootstrap.com/user/themelize_me" class="btn btn-lg btn-primary">Buy Now</a>
        </div>
    </div>
</section>