<div class="container">
  <div class="header">
    <h2 class="page-title">
      <span>Portfolio</span> 
    </h2>
    <!--Portfolio sort links-->
    <ul class="nav nav-pills" id="quicksand-categories">
      <li class="active _tooltip" data-placement="top" data-original-title="Web"><a href="#all" class="all">All</a></li>
      <li><a href="#web" class="_tooltip" data-placement="top" data-original-title="Web">W</a></li>
      <li><a href="#design" class="_tooltip" data-placement="top" data-original-title="Design">D</a></li>
      <li><a href="#print" class="_tooltip" data-placement="top" data-original-title="Print">P</a></li>
      <li><a href="#other" class="_tooltip" data-placement="top" data-original-title="Other">O</a></li>
    </ul>
  </div>
</div>