<div class="container">
  <!-- About -->
  <div class="row">
    <div class="col-md-8">
      <!-- About company -->
      <div class="block">
        <h3 class="block-title sub-title">
          How It All Began
        </h3>
        <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
        <h3 class="block-title sub-title">
          Our Philosophy
        </h3>
        <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
        <h3 class="block-title sub-title">
          What's In A Name?
        </h3>
        <p>Elit pellentesque dolor facilisis aenean eu tempor, phasellus lundium risus dolor, augue, ridiculus nascetur odio ridiculus? Hac ac, adipiscing ut dapibus. Adipiscing cras in? Magna nisi augue odio! Pellentesque magnis? Lacus integer magnis purus sed mus lorem aliquam lectus, placerat pellentesque quis, nunc urna turpis lorem. Etiam velit, augue sed magnis placerat! In cras, dignissim lorem, porttitor in velit in, nisi vut a cursus cum, odio sagittis nisi turpis? Mus penatibus non, pulvinar porttitor arcu hac ut et ac integer? Ultricies est etiam sit. Urna ridiculus facilisis pulvinar, ultrices augue? Parturient velit non tincidunt sit sagittis pulvinar phasellus rhoncus hac! Sit porta. Tristique, hac. Porttitor adipiscing ac. Ac tincidunt a porttitor natoque auctor ultricies! Proin nunc scelerisque? Habitasse adipiscing? Cursus.</p>
      </div>
      <!-- The team -->
      <div class="block margin-top-large">
        <h3 class="block-title" id="team">
          <span>Meet The Team</span>
        </h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/jimi.jpg" class="img-polaroid" alt="Jimi" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Founder & developer" data-original-title="Jimi Bloggs">Jimi</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/adele.jpg" class="img-polaroid" alt="Adele" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Founder & designer" data-original-title="Adele Bloggs">Adele</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/bono.jpg" class="img-polaroid" alt="Bono" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="The Tech Guy & all round good guy!" data-original-title="Bono Bloggs">Bono</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/deniro.jpg" class="img-polaroid" alt="Robert" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Junior designer" data-original-title="Robert Bloggs">Robert</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/jobs.jpg" class="img-polaroid" alt="Steve" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Sales Manager" data-original-title="Steve Bloggs">Steve</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/jolie.jpg" class="img-polaroid" alt="Angelina" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Marketing Expert" data-original-title="Angelina Bloggs">Angelina</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <ul class="thumbnails list-unstyled team">
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/obama.jpg" class="img-polaroid" alt="Obama" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Project Manager" data-original-title="Obama Bloggs">Obama</a>
                  </h4>
                </li>
                <li class="col-xs-6">
                  <a href="team-member.html">
                    <img src="img/team/women1.jpg" class="img-polaroid" alt="Erin" />
                  </a>
                  <h4>
                    <a href="team-member.html" class="_popover" data-content="Project Manager" data-original-title="Erin Bloggs">Erin</a>
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center">
          <small>Vector images by <a href="http://www.vectorportal.com/">Vectorportal</a></small>
        </div>
      </ul>
    </div>
    <!-- Quotes -->
    <div class="block margin-top-large">
      <h3 class="block-title" id="quotes">
        <span>Testimonials</span>
      </h3>
      <blockquote>
        <p>Pancetta cow ground round shank beef ribs. Leberkas spare ribs hamburger shoulder tri-tip ribeye short ribs pastrami chuck cow shankle sirloin meatball tongue.</p>
        <small>
          Someone famous in 
          <cite title="Source Title">Source Title</cite>
        </small>
      </blockquote>
      <blockquote class="pull-right">
        <p>Pancetta cow ground round shank beef ribs. Leberkas spare ribs hamburger shoulder tri-tip ribeye short ribs pastrami chuck cow shankle sirloin meatball tongue.</p>
        <small>
          Someone famous in 
          <cite title="Source Title">Source Title</cite>
        </small>
      </blockquote>
    </div>
  </div>
</div>